<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package Name="Vertex Central Deployer"
           Version="1.0.0.0"
           Manufacturer="Vertex Security"
           UpgradeCode="a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d"
           Compressed="yes"
           InstallerVersion="500"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- UI Configuration -->
    <ui:WixUI Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="C:\Users\pavan\WSMDeployer\WSMDeployerInstaller\License.rtf" />

    <!-- Close running applications before uninstall -->
    <util:CloseApplication Id="CloseDeployer" Target="WSMDeployer.exe"
                           CloseMessage="yes" RebootPrompt="no" />

    <!-- Features -->
    <Feature Id="MainFeature" Title="Vertex Central Deployer" Level="1">
      <ComponentGroupRef Id="AllFiles" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="DataFolderComponent" />
      <ComponentRef Id="DatabaseFolderComponent" />
      <ComponentRef Id="LogsFolderComponent" />
    </Feature>

    <!-- Standard Directories -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="VertexDeployer" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Vertex Central Deployer" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Directory Id="DesktopShortcutFolder" />
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="DeployerDataFolder" Name="VertexDeployer">
        <Directory Id="DatabaseFolder" Name="Database" />
        <Directory Id="LogsFolder" Name="Logs" />
      </Directory>
    </StandardDirectory>

  </Package>

  <Fragment>
    <ComponentGroup Id="AllFiles" Directory="INSTALLFOLDER">
      <Component Id="Cmp_Avalonia_Base_1" Guid="c0d1710c-fd2b-4554-8c79-b48cca93edfe">
        <File Source="$(var.DeployerDir)\Avalonia.Base.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Controls_ColorPicker_2" Guid="73ec51c7-c625-47a1-b598-07451b44b9e9">
        <File Source="$(var.DeployerDir)\Avalonia.Controls.ColorPicker.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Controls_DataGrid_3" Guid="f16838e2-27fb-4c0a-8ab6-2ab6a1674b14">
        <File Source="$(var.DeployerDir)\Avalonia.Controls.DataGrid.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Controls_4" Guid="b07a1136-c84f-4695-85a9-a8be5a8c7dfb">
        <File Source="$(var.DeployerDir)\Avalonia.Controls.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_DesignerSupport_5" Guid="684a76e7-581d-44e9-932f-dcf586f5f2b8">
        <File Source="$(var.DeployerDir)\Avalonia.DesignerSupport.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Desktop_6" Guid="69d62942-82c5-437d-a7d9-c157e0a54a17">
        <File Source="$(var.DeployerDir)\Avalonia.Desktop.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Dialogs_7" Guid="9a6d6ad6-0535-42f1-b640-c55d0b3a7016">
        <File Source="$(var.DeployerDir)\Avalonia.Dialogs.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_8" Guid="fb2aee16-2eeb-4651-b6ea-2539163fc7a3">
        <File Source="$(var.DeployerDir)\Avalonia.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Fonts_Inter_9" Guid="34051131-28a6-42bd-bace-348ee48f9588">
        <File Source="$(var.DeployerDir)\Avalonia.Fonts.Inter.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_FreeDesktop_10" Guid="4b91362c-14d6-4192-bed5-5edbefa7374f">
        <File Source="$(var.DeployerDir)\Avalonia.FreeDesktop.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Markup_11" Guid="f3d7355c-635e-4bf1-9b31-ba32b3b877e0">
        <File Source="$(var.DeployerDir)\Avalonia.Markup.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Markup_Xaml_12" Guid="de6eee42-406d-4ab4-9254-52ab745213f5">
        <File Source="$(var.DeployerDir)\Avalonia.Markup.Xaml.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Metal_13" Guid="f429b900-a2a6-4d31-ab5f-9bf383488213">
        <File Source="$(var.DeployerDir)\Avalonia.Metal.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_MicroCom_14" Guid="8c26385a-5b2f-4d58-bca2-99ec1319525b">
        <File Source="$(var.DeployerDir)\Avalonia.MicroCom.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Native_15" Guid="42ab426c-38ff-4dbf-9856-30eecf0b9b2f">
        <File Source="$(var.DeployerDir)\Avalonia.Native.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_OpenGL_16" Guid="8c3a880a-ea28-42ed-bb5a-6a26d8dce09c">
        <File Source="$(var.DeployerDir)\Avalonia.OpenGL.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Remote_Protocol_17" Guid="970d3fc7-b856-4be4-b96e-ba5329b87e9a">
        <File Source="$(var.DeployerDir)\Avalonia.Remote.Protocol.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Skia_18" Guid="1b49f572-77fb-453f-8007-2cf479903c7e">
        <File Source="$(var.DeployerDir)\Avalonia.Skia.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Themes_Fluent_19" Guid="dc79ede1-5091-4341-b38e-1b0b3d9cfbe1">
        <File Source="$(var.DeployerDir)\Avalonia.Themes.Fluent.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Vulkan_20" Guid="64879766-16ab-4983-b8be-ab83636bad98">
        <File Source="$(var.DeployerDir)\Avalonia.Vulkan.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Win32_Automation_21" Guid="bfa47640-50a7-4ed9-b9b5-c8110e9572ec">
        <File Source="$(var.DeployerDir)\Avalonia.Win32.Automation.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_Win32_22" Guid="12df012a-3383-4e34-b9c3-503bcb9c6cf7">
        <File Source="$(var.DeployerDir)\Avalonia.Win32.dll" />
      </Component>
      <Component Id="Cmp_Avalonia_X11_23" Guid="24c3365a-a9ca-4454-a849-c34464cd8793">
        <File Source="$(var.DeployerDir)\Avalonia.X11.dll" />
      </Component>
      <Component Id="Cmp_av_libglesv2_24" Guid="63f7f8f1-180e-4cec-923b-f2b3f144a038">
        <File Source="$(var.DeployerDir)\av_libglesv2.dll" />
      </Component>
      <Component Id="Cmp_e_sqlite3_25" Guid="557f4a9b-a801-4486-99e0-982ac0b5bc56">
        <File Source="$(var.DeployerDir)\e_sqlite3.dll" />
      </Component>
      <Component Id="Cmp_FluentAvalonia_26" Guid="d2ba72d1-2a47-432b-8a5a-3667789f06ef">
        <File Source="$(var.DeployerDir)\FluentAvalonia.dll" />
      </Component>
      <Component Id="Cmp_HarfBuzzSharp_27" Guid="6f0d385d-73fc-4d5b-a21d-2e1e8d4d91a5">
        <File Source="$(var.DeployerDir)\HarfBuzzSharp.dll" />
      </Component>
      <Component Id="Cmp_libHarfBuzzSharp_28" Guid="643a5259-8776-47b7-ae19-1fa4bf93dd12">
        <File Source="$(var.DeployerDir)\libHarfBuzzSharp.dll" />
      </Component>
      <Component Id="Cmp_libSkiaSharp_29" Guid="098bba0e-7df2-419a-931f-50725829969e">
        <File Source="$(var.DeployerDir)\libSkiaSharp.dll" />
      </Component>
      <Component Id="Cmp_MicroCom_Runtime_30" Guid="159ba45d-3f82-4b4b-a38a-ea017cb52bd0">
        <File Source="$(var.DeployerDir)\MicroCom.Runtime.dll" />
      </Component>
      <Component Id="Cmp_Microsoft_Data_Sqlite_31" Guid="1779d969-a76d-4c91-abcf-154358c8661e">
        <File Source="$(var.DeployerDir)\Microsoft.Data.Sqlite.dll" />
      </Component>
      <Component Id="Cmp_Newtonsoft_Json_32" Guid="b0fb2f81-ab68-44ea-8283-b193260f8d82">
        <File Source="$(var.DeployerDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Cmp_SkiaSharp_33" Guid="5957fd45-eca3-464b-aa59-8641f4be29db">
        <File Source="$(var.DeployerDir)\SkiaSharp.dll" />
      </Component>
      <Component Id="Cmp_SQLitePCLRaw_batteries_v2_34" Guid="5ffcd3b6-6d8d-4efb-b80b-6bd43ab37713">
        <File Source="$(var.DeployerDir)\SQLitePCLRaw.batteries_v2.dll" />
      </Component>
      <Component Id="Cmp_SQLitePCLRaw_core_35" Guid="1c49226c-433f-40d2-b8a5-fb9c1ada28ce">
        <File Source="$(var.DeployerDir)\SQLitePCLRaw.core.dll" />
      </Component>
      <Component Id="Cmp_SQLitePCLRaw_provider_e_sqlite3_36" Guid="137ffabb-64a2-4092-b431-c776d34e329f">
        <File Source="$(var.DeployerDir)\SQLitePCLRaw.provider.e_sqlite3.dll" />
      </Component>
      <Component Id="Cmp_System_CodeDom_37" Guid="0ccc17a4-0557-4ae2-9b4c-7ff3e9712002">
        <File Source="$(var.DeployerDir)\System.CodeDom.dll" />
      </Component>
      <Component Id="Cmp_System_IO_Pipelines_38" Guid="2e3b4ae6-964b-422d-b147-4949d809a764">
        <File Source="$(var.DeployerDir)\System.IO.Pipelines.dll" />
      </Component>
      <Component Id="Cmp_System_Management_39" Guid="1c3c7438-287a-40e0-bc0e-d956cb93d7b6">
        <File Source="$(var.DeployerDir)\System.Management.dll" />
      </Component>
      <Component Id="Cmp_System_Security_Cryptography_ProtectedData_40" Guid="6992bdcf-e7fc-4a6f-bb88-963e0a3a9031">
        <File Source="$(var.DeployerDir)\System.Security.Cryptography.ProtectedData.dll" />
      </Component>
      <Component Id="Cmp_Tmds_DBus_Protocol_41" Guid="257e9132-02a5-4ce1-b9b2-c85a958b8c44">
        <File Source="$(var.DeployerDir)\Tmds.DBus.Protocol.dll" />
      </Component>
      <Component Id="Cmp_WSMDeployer_deps_42" Guid="3edee84a-bd2b-420f-8159-2468ec154374">
        <File Source="$(var.DeployerDir)\WSMDeployer.deps.json" />
      </Component>
      <Component Id="Cmp_WSMDeployer_43" Guid="8900473f-30bd-4e90-be11-5aa3955ef22c">
        <File Source="$(var.DeployerDir)\WSMDeployer.dll" />
      </Component>
      <Component Id="Cmp_WSMDeployer_44" Guid="3cb268e6-6699-48e8-9d92-afd032675fff">
        <File Source="$(var.DeployerDir)\WSMDeployer.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_WSMDeployer_runtimeconfig_45" Guid="052cedc9-2a70-400c-8e33-84d8bbe39e83">
        <File Source="$(var.DeployerDir)\WSMDeployer.runtimeconfig.json" />
      </Component>
    </ComponentGroup>

    <!-- Start Menu Shortcut -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcut" Guid="f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c">
        <Shortcut Id="StartMenuDeployer"
                  Name="Vertex Central Deployer"
                  Description="Deploy and manage Vertex installations"
                  Target="[INSTALLFOLDER]WSMDeployer.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\Vertex\VertexDeployer"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Desktop Shortcut -->
    <DirectoryRef Id="DesktopShortcutFolder">
      <Component Id="DesktopShortcut" Guid="a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d">
        <Shortcut Id="DesktopDeployer"
                  Name="Vertex Central Deployer"
                  Description="Deploy and manage Vertex installations"
                  Target="[INSTALLFOLDER]WSMDeployer.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\Vertex\VertexDeployer"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Create ProgramData Folder -->
    <DirectoryRef Id="DeployerDataFolder">
      <Component Id="DataFolderComponent" Guid="b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e">
        <CreateFolder>
          <util:PermissionEx User="Administrators" GenericAll="yes" />
          <util:PermissionEx User="SYSTEM" GenericAll="yes" />
          <util:PermissionEx User="Users" GenericRead="yes" GenericWrite="yes" GenericExecute="yes" />
        </CreateFolder>
        <RemoveFolder Id="RemoveDeployerFolder" On="uninstall" />
        <RegistryValue Root="HKLM"
                       Key="Software\Vertex\VertexDeployer"
                       Name="DataFolder"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Create Database Folder -->
    <DirectoryRef Id="DatabaseFolder">
      <Component Id="DatabaseFolderComponent" Guid="c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f">
        <CreateFolder />
        <RemoveFolder Id="RemoveDatabaseFolder" On="uninstall" />
        <RegistryValue Root="HKLM"
                       Key="Software\Vertex\VertexDeployer"
                       Name="DatabaseFolder"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Create Logs Folder -->
    <DirectoryRef Id="LogsFolder">
      <Component Id="LogsFolderComponent" Guid="d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a">
        <CreateFolder />
        <RemoveFolder Id="RemoveLogsFolder" On="uninstall" />
        <RegistryValue Root="HKLM"
                       Key="Software\Vertex\VertexDeployer"
                       Name="LogsFolder"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

  </Fragment>

</Wix>
